@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('/web/20141226193327im_/http://oodleshotels.com/fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('/web/20141226193327im_/http://oodleshotels.com/fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('/web/20141226193327im_/http://oodleshotels.com/fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('/web/20141226193327im_/http://oodleshotels.com/fonts/NewsCycle-Regular.ttf'); 
} 



* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

ul.images {
  width:100%;
  height:400px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
} 

ul.images li {
  position:absolute;
  margin:0;
  padding:0;
  left:0;
  right:0;
  list-style:none;
}
 
ul.images li.show {
  z-index:500;  
}
 
ul img {
  border:none;  
}






ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}



/* Image Transitions */

/*
     FILE ARCHIVED ON 19:33:27 Dec 26, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:02:01 May 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.74
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.079
  cdx.remote: 0.067
  esindex: 0.01
  LoadShardBlock: 190.376 (3)
  PetaboxLoader3.datanode: 174.803 (4)
  PetaboxLoader3.resolve: 171.472 (3)
  load_resource: 182.932
*/